body {
    display: flex;
    flex-direction: column;

    width: 100%;

    min-width: 1180px;
    min-height: 940px;

    align-items: center;
}

html, body {
    margin: 0;
    height: 100%;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#authFrom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 20%;
    height: 30%;

    background-color: #fff;
    box-shadow: 3px 11px 24px 1px;

    margin-top: 15%;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;

    border-radius: 6%;

    background: linear-gradient(90deg, rgba(98, 177, 208, 0.7) 0%, 
                                      rgba(2, 76, 104, 0.7) 50%, 
                                      rgba(74, 96, 215, 0.7) 100%);
}

#authFrom input {
    margin-top: 5px;
    height: 30px;
    width: 100%;
    border-radius: 8px;

    font-size: 20px;

    border: none;

    padding-left: 12px;

}

#authFrom label {
    color: #fff;
    font-size: 20px;
}

#authFrom .inter {
    color: #fff;
    font-size: 24px;
    text-align: center;

    font-weight: 600;

    cursor: default;
}

#authFrom .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 80%;
}

#authFrom button {
    width: 100%;
    height: 30px;

    font-size: 20px;
    border: none;
    border-radius: 8px;

    background-color: #fff;

    transition: all;

    cursor: pointer;
}

#authFrom button:hover {
    background-color: #e0e0e0;
}